[Unit]
Description=WeatherDB service
After=syslog.target
After=network.target

[Service]
Type=exec
ExecStart=/usr/local/weatherdb/weatherdb
ExecStop=/usr/local/weatherdb/stop-and-wait.sh $MAINPID
WorkingDirectory=/usr/local/weatherdb
Restart=always
RestartSec=10
SyslogIdentifier=weatherdb
User=nigel
Group=nigel

[Install]
WantedBy=multi-user.target
